div.animation{
	margin-left:2px;
  width: 938px;
  height:292px;
  overflow:hidden;
  position:relative;
}

div.animation p.quote{
  padding:0;
  margin:0;
  color:#252542;
  font-size:20pt;
  font-family:Georgia;
  font-weight:normal;
  font-style:italic;
}

div.animation p.signature{
  padding:0;
  margin:0;
  color:#252542;
  font-size:12pt;
  font-family:Helvetica, Arial, sans-serif;
  font-weight:normal;
}

div.consumer{
  background:url('../images/animation_new/sales.jpg');
  width: 938px;
  height:292px;
}

div.consumer p.quote{
  width:445px;
  padding-left:30px;
  padding-top:45px;
}

div.consumer p.signature{
  width:445px;
  padding-left:30px;
  padding-top:10px;
}

div.dealers{
  background:url('../images/animation_new/mosq_creek.jpg');
  width: 938px;
  height:292px;
}

div.dealers p.quote{
  width:545px;
  text-align:right;
  padding-left:30px;
  padding-top:60px;
}

div.dealers p.signature{
  width:545px;
  text-align:right;
  padding-left:30px;
  padding-top:10px;
}

div.sales{
 background:url('../images/animation_new/brad.jpg'); 
 width: 938px;
 height:292px;
}

div.sales p.quote{
  width:445px;
  text-align:right;
  padding-left:450px;
  padding-top:60px;
}

div.sales p.signature{
  width:445px;
  text-align:right;
  padding-left:450px;
  padding-top:10px;
}

div.marketing{
  background:url('../images/animation_new/connie.jpg');
  width: 938px;
  height:292px;
}

div#ani-slides{
  position:absolute;
  z-index:0;
}

div.marketing p.quote{
  width:395px;
  color:#FFF;
  padding-left:30px;
  padding-top:50px;
}

div.marketing p.signature{
  width:445px;
  color:#FFF;
  padding-left:30px;
  padding-top:10px;
}


div.closing{
 background:url('../images/animation_new/closing.jpg'); 
 width: 938px;
 height:292px;
}

div.animation-menu{
  position:absolute;
  bottom:0;
  z-index:2;
}

div.animation-menu ul{
  list-style:none;
  padding:0;
padding-left:1px;
  margin:0;
  width:939px;
}

div.animation-menu ul li{
  display:block;
  float:left;
  width:234px;
  font-size:20px;
  height:50px;
  text-align:center;
  line-height:50px;
  background-image:url('../images/animation_new/navsprite_tranisition2.png');
  background-position:0px 0px;
  
}

div.animation-menu ul li.current{
  background-position:0px -140px;
  
}

div.animation-menu ul li a{
  color:#FFF;
  text-decoration:none;
  font-family:Helvetica, Arial, sans-serif;
  display:block;
  
}

div.animation-menu ul li:hover{
	background-position:0px -140px;
  
}