div.interior_content{
	background:#FFF;
	overflow:hidden;
	border:1px solid #ccc;
	clear:both;
	-moz-border-radius:5px;
  -webkit-border-radius:5px;
}

div.interior_content .sidebar{
	float:left;
	width:280px;
}

div.interior_content .main_content{
	float:right;
	width:608px;
	padding:30px 25px;
	min-height:400px;
}
div.sidebar ul{
	padding-bottom:20px;
}

div.sidebar li{
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background-position:bottom left;
	background-repeat:no-repeat;
	padding-right:10px;
	min-height:79px;
	vertical-align:middle;
}

div.sidebar li:hover{
	background-color:#f4f4f4;
	cursor:pointer;
}

div.sidebar li.current{
	background-color:#f4f4f4;
}

div.sidebar ul li:first-child{
	-moz-border-radius-topleft:5px;
  -webkit-border-top-left-radius:5px;
}

div.sidebar li h3{
	color:#2e2e2e;
	font-size:14px;
	padding-left:58px;
	padding-top:22px;
}

div.sidebar li p{
	color:#7F7F7F;
	font-size:12px;
	padding-left:58px;
	padding-top:2px;
	padding-bottom:15px;
	
}

div.sidebar li#link_why-dealer-ignition{
	background-image:url('../images/sidenav_whydi.png');
}

div.sidebar li#link_accelerate-marketing{
	background-image:url('../images/side_nav_accelerate.png');
}

div.sidebar li#link_drive-dealer-sales{
	background-image:url('../images/side_nav_drivesales.png');
}

div.sidebar li#link_market-online-locally{
	background-image:url('../images/side_nav_marketonline.png');
}

div.sidebar li#link_measure-effectiveness{
	background-image:url('../images/side_nav_campaigneffectiveness.png');
}

div.sidebar li#link_library{
	background-image:url('../images/side_nav_whitepapers.png');
}

div.sidebar li#link_webinars{
	background-image:url('../images/side_nav_webinars.png');
}

div.sidebar li#link_interviews{
	background-image:url('../images/side_nav_interviews.png');
}

div.sidebar li#link_case-studies{
	background-image:url('../images/side_nav_casestudies.png');
}

div.sidebar li#link_roi-calculator{
	background-image:url('../images/side_nav_roi.png');
}

div.sidebar li#link_quicktours{
	background-image:url('../images/side_nav_presentations.png');
}

div.sidebar li#link_banner-ads{
	background-image:url('../images/side_nav_bannerads.png');
}

div.sidebar li#link_search-engine-ads{
	background-image:url('../images/side_nav_search.png');
}

div.sidebar li#link_email-marketing{
	background-image:url('../images/side_nav_email.png');
}

div.sidebar li#link_landing-pages{
	background-image:url('../images/side_nav_pages.png');
}

div.sidebar li#link_promotional-windows{
	background-image:url('../images/side_nav_promotionwindows.png');
}

div.sidebar li#link_brands-manufacturers-vendors{
	background-image:url('../images/side_nav_brand.png');
}

div.sidebar li#link_dealers-resellers-affiliates{
	background-image:url('../images/side_nav_dealers.png');
}

div.sidebar li#link_partners{
	background-image:url('../images/side_nav_partners.png');
}

div.sidebar li#link_our-story{
	background-image:url('../images/side_nav_story.png');
}

div.sidebar li#link_our-team{
	background-image:url('../images/side_nav_team.png');
}

div.sidebar li#link_buzz{
	background-image:url('../images/side_nav_buzz.png');
}

div.sidebar li#link_careers{
	background-image:url('../images/side_nav_careers.png');
}

div.sidebar li#link_press-releases{
	background-image:url('../images/press_release_sml.png');
}

img.right{
	float:right;
}

div.interior_content h2{
	padding-top:30px;
	font-size:38px;
	line-height:38px;
	color:#222342;
	letter-spacing:-1px;
}

div.interior_content .main_content h3, .single h3{
	color:#7f7f7f;
	padding-top:3px;
	font-size:18px;
	font-weight:normal;
}

div.two_column, div.one_column{
	clear:both;
	padding-top:15px;
	overflow:hidden;
}

div.two_column h4, div.one_column h4{
	color:#2e2e2e;
	padding-top:10px;
	font-size:18px;
	padding-bottom:4px;
}

div.two_column p, div.one_column p{
	clear:both;
	color:#626262;
	font-size:15px;
	line-height:22px;
	padding-bottom:15px;
}

div.two_column .left{
	float:left;
	width:48%;
	margin-right:2%;
}

div.two_column .right{
	float:left;
	width:46%;
}

div.one_column{
	clear:left;
	clear:both;
}

div.interior_content h5{
	color:#7F7F7F;
	font-size:16px;
	font-weight:normal;
	padding-top:0;
	margin-bottom:15px;
}

div.main_content ul{
	padding-left:15px;
}

div.main_content li{
	list-style:disc outside none;
	margin:0 0 8px 25px;
	color:#626262;
	font-size:15px;
	line-height:22px;
}

div.main_content ol{
	padding-left:15px;
}

div.main_content ol li{
	list-style:decimal outside none;
}

div.contact .embed body#public{
	margin-top:10px !important;
}

div.main_content blockquote{
	padding:0px 25px 15px 25px;
	font-size:16px;
	color:#626262;
	line-height:22px;
	font-style:italic;
	font-family:Georgia, "Times New Roman", serif;
}

.interior_content table{	
  font-size:13px;
	width:588px;
	color:#333333;
	margin:10px;
	
}

.interior_content table td{
	border:1px dotted #999;
	

	padding:0.5em;
}

.interior_content table thead{
	border-bottom:medium none;
	background:none repeat scroll 0 0 #1A1932;
}

.interior_content table thead th{
	border-bottom:5px solid #FFFFFF;
	color:#FFFFFF;
	font-size:12px;
	padding:0.5em;
}

.interior_content table td.title{
	font-weight:bold;
	margin-top:1px;
	width: 65%;
	
	padding-left:10px;
}

.interior_content table .download{
	text-align:center;
}

.interior_content table td.download{
	font-weight:bold;
}

.interior_content table td.download a{
	color:#992D15;
	font-weight:bold;
	text-decoration:underline;
	display:block;
	padding:0.5em 0;
}

.interior_content table td.download a:hover{
	color:#FFF;
	background:#1A1932;
	text-decoration:none;
}

.interior_content tr.alt{
	background:#FAFAFA;
}

.interior_content ul.customer{
	list-style:none;
	margin:0;
	padding:0;
	padding-left:20px;
}

.interior_content ul.customer li{
	list-style:none;
	margin:0;
	padding:0;
	padding-bottom:10px;
	float:left;
	width:33%;
}

.interior_content ul.customer li img{
	border:1px solid #CCCCCC;
	padding:8px;
	-moz-border-radius:5px;
  -webkit-border-radius:5px;
}


#roi-calculator form {
  padding: 20px;
  width: 550px;
}

#roi-calculator p {
  outline: 1px outset #efefef;
  padding: 10px;
  margin-bottom: 10px;
}

#roi-calculator form fieldset {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 25px;
}

#roi-calculator form fieldset legend {
  display: inline-block;
  padding: 6px 12px;
  border:1px solid #ddd;
  background-color:#14143c;
  color:#efefef;
  font-size:100%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-align:right;
}

#roi-calculator label {
  clear: both;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin-right: 40px;
  cursor: help;
}

#roi-calculator input {
  border: 1px solid #999;
  background-color: #efefef;
  width: 100px;
  text-align: center;
  float: right;
  padding: 5px;
  margin-top: -4px;
  margin-bottom: 10px;
}

#roi-calculator input.calculated {
  color: #330a02;
  background-color: #ddd;
}

#roi-calculator .calculated {
  font-weight: bold;
  cursor: default;
}

#roi-calculator input:focus {
  color: #811e08;
  background-color: #FFF4B8;
  outline: none;
}

#roi-calculator .money:after, #roi-calculator .percent:after {
  float: right;
  display: inline;
  font-weight: normal;
  font-size: 16px;
  margin: 0 10px;
  color: #14143c;
}
#roi-calculator .money:after {
  content: '$ ';
}
#roi-calculator .percent:after {
  content: '% ';
}

/* ROLLING DEALER LIST */

div#dealer_rotation{
	margin-top:10px;
	background:url('../images/rolling_list_background.png') no-repeat;
	width:600px;
	height:42px;
	position:relative;
}

div#dealer_rotation h3.name{
	position:absolute;
	color:#a31115;
	font-size:20px;
	font-weight:bold;
	top:7px;
	left:10px;
}

div#dealer_rotation h4.location{
	position:absolute;
	color:#a31115;
	font-size:20px;
	padding:3px 0 0 0;
	font-weight:bold;
	top:7px;
	left:400px;
}

/* Interview Videos */

div.interview{
	float:left;
	width:161px;
	height:190px;
	border:1px solid #CCCCCC;
	margin-bottom:20px;
	margin-right:20px;
	padding:7px;
	-moz-border-radius:5px;
  -webkit-border-radius:5px;
}

div.interview a{
	width:161px;
	height:128px;
	display:block;
	position:relative;
}

div.interview a.connie{
	background:url('../images/connie_small.jpg');
}

div.interview a.brad{
	background:url('../images/bradsmith.jpg');
}

div.interview a span.watch_now{
	background:url('../images/watchvid_sprite.png');
	width:83px;
	height:17px;
	position:absolute;
	display:block;
	bottom:5px;
	right:5px;
}

div.interview a:hover span.watch_now{
	background-position:bottom center;
}

div.interior_content div.interview h3{
	font-size:14px;
	font-weight:bold;
	margin:0;
	margin-top:8px;
	padding:0;
	color:#000;
}

div.interview h4{
	font-size:12px;
	color:#7F7F7F;
	font-weight:normal;
	margin:0;
	padding:0;
}

iframe{
	margin:-5px;
	padding:0;
}

div.interior_content ul.promotional_examples{
	list-style:none;
	margin:0 0px 10px 0px;
	overflow:hidden;
}

div.interior_content ul.promotional_examples li{
	list-style:none;
	margin:0;
	border:1px solid #e0e0e0;
	padding:10px 8px 10px 8px;
	width:180px;
	height:480px;
	margin:0px 20px 20px 0px;
	float:left;
	-moz-border-radius:5px;
  -webkit-border-radius:5px;
	background:no-repeat 10px 40px;
	font-weight:bold;
	color:#8a0f14;
}

div.interior_content ul.promotional_examples li.video{
	background-image:url('http://s3.amazonaws.com/corp_website/video-175x450.gif');
}

div.interior_content ul.promotional_examples li.sms{
	background-image:url('http://s3.amazonaws.com/corp_website/sms-175x450.gif');
}
div.interior_content ul.promotional_examples li.social{
	background-image:url('http://s3.amazonaws.com/corp_website/social-175x450.gif');
}
div.interior_content ul.promotional_examples li.registration{
	background-image:url('http://s3.amazonaws.com/corp_website/register-175x450.gif');
}
div.interior_content ul.promotional_examples li.rebate{
	background-image:url('http://s3.amazonaws.com/corp_website/rebate_form-175x450.gif');
}
div.interior_content ul.promotional_examples li.slideshow{
	background-image:url('http://s3.amazonaws.com/corp_website/slideshow-175x450.gif');
}
div.interior_content ul.promotional_examples li.deal{
	background-image:url('http://s3.amazonaws.com/corp_website/deal-175x450.gif');
}
div.interior_content ul.promotional_examples li.auto1{
	background-image:url('http://s3.amazonaws.com/corp_website/auto1-175x450.jpg');
}
div.interior_content ul.promotional_examples li.auto2{
	background-image:url('http://s3.amazonaws.com/corp_website/auto2-175x450.jpg');
}

div.interior_content ul.promotional_examples li a{
	display:block;
	height:480px;
	width:180px;
	position:absolute;
	text-indent:-9999px;
}

p.italic{
	font-style:italic;
}

p.italic i{
	font-weight:bold;
}

a.try_it_out{
	margin-top:40px;
	display:block;
	background:url('../images/promo_window_sprite.png') top right;
	height:98px;
	text-indent:-9999px;
}

a.try_it_out:hover{
	background:url('../images/promo_window_sprite.png') bottom right;
}

div.doorbell div.one_column ul.pill{
	list-style:none;
	padding:0;
	overflow:hidden;
	width:463px;
	margin:0 auto 20px auto;
}

div.doorbell div.one_column  ul.pill li{
	list-style:none;
	float:left;
	text-indent:-9999px;
}

div.doorbell div.alt{
	padding-left:25px;
	padding-right:25px;

}

div.one_column ul.pill{
	list-style:none;
	padding:0;
	overflow:hidden;
	width:463px;
	margin:0 auto 20px auto;
}

div.one_column  ul.pill li{
	list-style:none;
	float:left;
	text-indent:-9999px;
}

div.one_column ul.pill li.see_it a{
	background:url('../images/try_out_sprite.png');
	height:73px;
	width:244px;
	display:none;
}

div.one_column ul.pill li.order_now a{
	background:url('../images/order_button.png');
	height:73px;
	width:243px;
	display:block;
}

div.one_column ul.pill li.order_now a:hover{
	background-position:0px 73px;
}

div.one_column ul.pill li.login a{
	background:url('../images/login-now.png');
	height:73px;
	width:244px;
	display:block;
}

div.one_column ul.pill li.login a:hover{
	background-position:0px 72px;
}

div.one_column ul.pill li.contact a{
	background:url('../images/contact_sprite.png');
	height:73px;
	width:219px;
	display:block;
}

div.one_column ul.pill li.contact a:hover{
	background-position:0px 73px;
}

div.doorbell table.doorbell{
	border: 0;
	color:#626262;
	line-height:22px;
	font-size:15px;
	margin:0px 0px 10px 0px;
	width:100%;
}

div.doorbell table.doorbell td{
	border:none;
	padding:0.5em;
	vertical-align:top;
}

div.doorbell table.doorbell tr{
	height:81px;
}

div.doorbell table.doorbell a.email{
	width: 203px;
	height: 57px;
	display:block;
	text-indent: -9999px;
	background:url('../images/email-sprite.png');
}

div.doorbell table.doorbell a.search{
	width: 203px;
	height: 57px;
	display:block;
	text-indent: -9999px;
	background:url('../images/search-sprite.png');
}

div.doorbell table.doorbell a.banners{
	width: 203px;
	height: 57px;
	display:block;
	text-indent: -9999px;
	background:url('../images/banners-sprite.png');
}

div.doorbell table.doorbell a.email:hover, div.doorbell table.doorbell a.search:hover, div.doorbell table.doorbell a.banners:hover{
	background-position:0px 57px;
	
}